<footer class="bg-primary text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="text-success">{{ site_name }}</h5>
                <p>{{ site_description }}</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="text-success">Contato</h5>
                <p><i class="bi bi-whatsapp text-success"></i> (51) 99516-7835</p>
                <p>
                    <i class="bi bi-envelope text-success"></i> 
                    <a href="mailto:mayconcell315@gmail.com" class="text-white text-decoration-none hover-text-success">
                        mayconcell315@gmail.com
                     </a>
                <p>
                    <i class="bi bi-instagram text-success"></i> 
                    <a href="https://www.instagram.com/mayconcell_doisirmaos" 
                       target="_blank" 
                       class="text-white text-decoration-none">
                        mayconcell_doisirmaos
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="text-success">Horário</h5>
                <p>Seg-Sex: 8:30 - 12:00 das 13:00 - 18:30</p>
                <p>Sábado: 8:15 - 16:00</p>
            </div>
        </div>
        <div class="text-center mt-3">
            <p class="mb-0">&copy; {% now "Y" %} {{ site_name }}. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>